<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <!-- EnableAuth: true: Enable OAUTH 2.0 Token Authentication false:No Authentication-->
    <add key="EnableAuth" value="false" />
    <!--FHIRParserMode: [open or strict] Open allows for any valid JSON, strict only JSON with properties of current spec allowed -->
    <add key="FHIRParserMode" value="open" />
    <!--FHIRDB: The name of the FHIR CosmosDB Database to create or use-->
    <add key="FHIRDB" value="FHIR3" />
    <!--FHIRDBStorage: [F or U] The storage quota for CosmosDB F=Fixed Storage or U=Unlimited-->
    <add key="FHIRDBSTORAGE" value="F" />
    <!-- FHIRDBTHROUGHPUT: The default DRU Throughput for the FHIR Resource Collections in CosmosDB-->
    <add key="FHIRDBTHROUHPUT" value="2000" />
    <!--FHIRMAXDOCSIZE:  The maximum number of bytes of a FHIR message can be before inline attachments types are removed from CosmosDB and are only stored in the History Blob
                         the FHIR Server will automatically reconstitute from the History Store when attachments are removed for space-->
    <add key="FHIRMAXDOCSIZE" value="500000" />
    <!--ida:Tenant: THe ActiveDirectory tenent to call for OAUTH Authentication e.g. microsoft.onmicrosoft.com-->
    <add key="ida:Tenant" value="{tenant}" />
    <!--ida:Audience: The allowed ActiveDirectory Application URL-->
    <add key="ida:Audience" value="{audienceUrl}" />
    <!--KeyVault: THe name of the KeyVault with DBStorageEndPointUri,DBStoragePrimaryKey,StorageConnectionString secrets.  Note requires Api App Service with
                  MSI (Managed Service Identity setup and configured. If KeyVault Name is not specified secrests will be retreived from corresponding Application 
                  settings
    <add key="KeyVaultURI" value="https://{vaultname}.vault.azure.net/"/>-->
    <!--Note: Sensetive Application Settings.  KeyVault use highly recommended-->
    <!--DBStorageEndPointUri: The URL of the CosmosDB Storage Endpoint for FHIR Resource Storage-->
    <add key="DBStorageEndPointUri" value="{dbstorage endpoint}" />
    <!--DBStoragePrimaryKey: The primary key  of the CosmosDB Storage Endpoint for FHIR Resource Storage-->
    <add key="DBStoragePrimaryKey" value="{dbstorage key}" />
    <!--StorageConnectionString: The Blob Storage Account Connection String for Storing the History of FHIR Resources-->
    <add key="StorageConnectionString" value="{storage connection string}" />



  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />
    </modules>
     <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.1.0.0" newVersion="9.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
